# emacs files
auto/

# deploy



# auxiliary files for latex
*.aux
*.fdb_latexmk
*.log
*.fls
*.out
*.bbl
*.blg
*.synctex.gz
*.pygtex
*.pyg
# *.jar

# vim files
*.swp




# ignore ipython nb checkpoints
.ipynb_checkpoints/

# node modules
node_modules/


.DS_Store
